@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    
}
body{
    margin-left: 0px;
    text-align: justify;
    width: 100%;
    background-color: beige;
    
}
header{
    font-family: 'Merriweather', serif;
    display: inline-block;
}
#logo,#h1 {
    margin: 30px 0px;
    float: left;
    padding-left: 30px;
}
#h1 {
    margin-top: 45px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size:xx-large;
}
hr{
    margin-bottom: 20px;
    clear: both;
    border-top: 8px double rgb(61, 61, 61);
    margin-left: 0px;
    width: 100%;
}

main section{
    display: inline-block;
}
#imgContainer{
    margin-bottom: 20px;
    padding-left: 18em;
}
#imgContainer img{
    padding: 10px;
}
#resultContainer{
    padding-left: 18em;
    width: 100%;
    text-align: justify;
    margin-bottom: 20px;
}
ul li{
    text-transform: capitalize;
    padding-top: 10px;
}
#button{
    text-align: center;
    float: left;
    margin-left: 45%;
    margin-bottom: 20px;
}
article{
    clear: both;
    text-align: center;
    text-indent: 10px;
    margin: 20px 0;
   
}
footer{
    text-align: center;

}